@model ErrorViewModel
@{
    ViewData["Title"] = "Error";
}

<h1 class="text-danger">Error.</h1>
<h2 class="text-danger">An error occurred while processing your request.</h2>

@if (Model.ShowRequestId)
{
    <p>
        <strong>Request ID:</strong> <code>@Model.RequestId</code>
    </p>
}
@* style="height: 400px; width: 800px; background-image: url('https://thumbs.dreamstime.com/z/oops-something-went-wrong-error-page-concept-vector-illustration-114821176.jpg?w=768')" *@